# Cloudinary Configuration
# Get these values from your Cloudinary dashboard: https://cloudinary.com/console
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dj7odelpw
CLOUDINARY_API_KEY=229859891737296
CLOUDINARY_API_SECRET=EKXnOYFbSs-WrBPnzrAjatYkp3k
NEXT_PUBLIC_CLOUDINARY_CLOUD_BASE_URL=https://res.cloudinary.com
